.chat_wrapper {
    font-size: 2vw;
}

.button {
    /* display: inline-block; */
    /* width: 100px; */
    /* height: 50px; */
    line-height: 2em;
    font-size: 2vw;
    /* text-align: center; */
    /* text-decoration: none; */
    text-shadow: 0 1px rgba(255, 255, 255, .2), 0 -1px rgba(0, 0, 0, .8);
    outline: none;
    border: none;
    border-radius: 0.5em;
    background: rgb(21, 149, 161) radial-gradient(150% 100% at 50% 5px, rgba(255, 255, 255, .2), rgba(0, 0, 0, 0));
    box-shadow: inset rgba(0, 0, 0, .6) 0 -2px 5px, inset rgba(252, 255, 255, .7) 0 2px 5px, rgba(0, 0, 0, .8) 0 2px 5px -1px;
    color: rgb(0, 46, 50);
    user-select: none;
}

.button:hover {
    background: #09d6e9 radial-gradient(150% 100% at 50% 5px, rgba(255, 255, 255, .2), rgba(0, 0, 0, 0));
    -webkit-box-shadow: 0px 0px 30px 20px rgba(9, 214, 233, 0.37);
    -moz-box-shadow: 0px 0px 30px 20px rgba(9, 214, 233, 0.37);
    box-shadow: 0px 0px 30px 20px rgba(9, 214, 233, 0.37);
}

.button:active {
    background: rgba(255, 112, 0, 0.83);
    -webkit-box-shadow: 0px 0px 52px 7px rgba(255, 112, 0, 0.83);
    -moz-box-shadow: 0px 0px 52px 7px rgba(255, 112, 0, 0.83);
    box-shadow: 0px 0px 52px 7px rgba(255, 112, 0, 0.83);
}

.nav {
    display: flex;
    gap: 4;
    margin-top: 4%;
    flex-direction: column;
}

.chat_list {
   margin-right: 15%;
}